@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container auth-container">
    <div class="col-6 signUp-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <a id="signIn" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a>
    </div>
    <div class="col-6 signUp-right">
        <form id="registerForm" class="form-container" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Sign Up</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger register-alert" role="alert"></div>

            <input type="text" asp-for="Input.UserName" autocomplete="username" aria-required="true" placeholder="username" />
            <span asp-validation-for="Input.UserName" class="text-danger register-alert"></span>

            <input type="text" asp-for="Input.PhoneNumber" autocomplete="phone-number" aria-required="true" placeholder="phone number" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger register-alert"></span>

            <input type="email" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger register-alert"></span>

            <input type="password" asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="text-danger register-alert"></span>

            <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger register-alert"></span>

            <button id="registerSubmit" type="submit">Register</button>
        </form>
    </div>
</div>

@*<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2>Create a new account.</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
        <label asp-for="Input.UserName">Username</label>
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone-number" aria-required="true" placeholder="phone number" />
        <label asp-for="Input.PhoneNumber">Phone Number</label>
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Input.Email">Email</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
        <label asp-for="Input.Password">Password</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
</form>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
